@media (min-width:960px) and (max-width:1200px) {
    body {
        background-color: #e2f2ec;
    }

    //////////////   NAV   /////////////
    nav {



        .gitImg {
            width: 466px;
            height: 36px;
        }

        .logoImg {
            width: 146px;
            height: 78px;
        }

        ul {
            font-size: 1.2em;
            width: 300px*.8;
        }


    }

    //////////////   HEADER   /////////////
    header {
        width: 960px;
        height: 399px;
        background-size: 960px;
        margin: auto;

        .picWrapper {
            padding-top: 20px;

        }

        .headerPic {
            width: 287px;
            height: 132px;

        }

    }

    .headerMid {
        margin: 15px 0;
    }

    .headerMiniTitle {
        font-size: 2.5rem;
        padding: 0px 10px;
    }

    .headerBtm {
        font-size: 3rem;
    }


    //////////////   SUBJECTS   /////////////

    .subjects {
        width: 960px;
        height: 502px;
        background-size: 960px;
        margin: auto;

        p {
            font-size: 2.5rem;
            padding-top: 35px;
        }

        img {
            width: 576px*.8;
            height: 492px*.8;
            padding-top: 20px;
        }
    }

    //////////////   INFO   /////////////

    .info {
        width: 960px;
        height: 397px;
        background-size: 960px;
        margin: auto;
        font-size: 1.5rem;

        .infoTitle {
            padding-top: 35px;

            p {
                padding: 2px;
            }
        }

        .title1 {
            margin-right: 120px;
            font-size: 2.3rem;
            margin-right: 280px;

        }

        .title2 {
            font-size: 2.9rem;
        }

        .title3 {
            font-size: 2.9rem;
            padding-top: 50px;
            box-sizing: content-box;

        }

    }

    .cloudWrapper {
        width: 700px;
        margin: auto;
        text-align: center;
        margin-top: 20px;
    }

    .cloud {

        li {
            padding: 6px;
        }

        li:nth-of-type(3n+1) {
            font-size: 1.2rem*.8;
        }

        li:nth-of-type(3n+2) {
            font-size: 1.8rem*.8;
        }

        li:nth-of-type(3n+3) {
            font-size: 2.3rem*.8;
        }
    }

    .infoFooter {

        .text {
            font-size: 1.4rem;
            padding: 10px;
        }

        .tags {
            font-size: 4rem;
        }
    }

    //////////////   WHY COME   /////////////

    .whyCome {
        width: 960px;
        height: 606px;
        background-size: 960px;
        margin: auto;

        h1 {
            font-size: 1.6em;
        }

        h2 {
            padding: 8px
        }

        .contentWrapper {
            width: 560px;

            p {
                line-height: 150%;
            }
        }

        .box1 {
            margin-top: 24px;
            width: 560px;
            font-size: 1.6rem;
            padding: 16px 0;
        }

        .box2,
        .box3 {
            margin-top: 16px;
            width: 272px;
            padding: 12px 24px;
            box-sizing: border-box;
            font-size: 0.8rem;

            h2 {
                font-size: 1.2rem;
            }
        }

        .box4 {
            width: 272px;
            margin-top: 24px;

            img {
                width: 272px;
                height: 72px;
            }
        }

        .whyButton {
            border-radius: 10px 100px / 120px;
            padding: 10px;
        }
    }

    //////////////   REGISTRATION   /////////////

    .registration {
        width: 960px;
        height: 457px;
        background-size: 960px;
        margin: auto;
    }

    .formWrapper {
        width: 560px;
        height: 410px;
        margin-top: 40px;
        background-size: contain;

        .formRight {
            width: 325px;

            h2 {
                font-size: 1.6rem;
                margin-top: 16px;
                margin-bottom: 12px;

            }

            h3 {
                font-size: .8rem;
                line-height: 1.5;
            }
        }

        .formLeft {
            width: 235px;
            align-self: flex-end;
            margin-bottom: 80px;
            text-align: center;

        }

        .formBlock {
            width: 240px;
            margin: 24px;
            margin-right: 42px;

        }

        input {
            font-size: .8rem;

        }

        button {
            font-family: Almoni;
            color: white;
            font-size: 1.2rem;
            background-color: #e0a64f;
            border-radius: 10px 100px / 120px;
            padding: 8px 32px;
            margin: 8px;
            margin-bottom: 16px;
        }
    }

    //////////////   FOOTER   /////////////

    .footer {
        width: 960px;
        height: 94px;
        background-size: 960px;
        margin: auto;
    }

    .footerSocial {
        a {
            margin: 10px;
            font-size: 1.5rem;

        }

        padding-bottom:5px;
    }

    .footerCR {
        padding-top: 5px;
    }

    .footerMap {
        a {
            font-size: 1.5rem;
            padding-bottom: 10px;
        }

        p {
            line-height: 1.5rem;
        }
    }

    .mobileView {
        display: none;
    }
}